<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>Dynamic Table</title>

  <!--dynamic table-->
  <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
  <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
  <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />

    <div th:replace="common :: commonstyle"></div>
</head>

<body class="sticky-header">

<section>
    <div th:replace="common :: commonleft"></div>

    <!-- main content start-->
    <div class="main-content" >

        <div th:replace="common :: commonnav"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Dynamic Table
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Data Tables</a>
                </li>
                <li class="active"> Dynamic Table </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                    <header class="panel-heading">
                        Dynamic Table
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                    </header>
                        <div class="panel-body">
                        <div class="adv-table">
                            <table  class="display table table-bordered table-striped" id="dynamic-table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>学生姓名</th>
                                    <th>学生邮箱</th>
                                    <th class="hidden-phone">学生年龄</th>
                                    <th class="hidden-phone">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX" th:each="student,status:${page.records}">
                                    <td th:text="${status.count}"></td>
<!--                                    <td><input type="text" class="form-control small" value="Aishmen"></td>-->
                                    <td th:text="${student.name}"></td>
                                    <td th:text="${student.email}"></td>
                                    <td th:text="${student.age}" class="center hidden-phone"></td>
                                    <td>
                                        <a th:href="@{/delete/{id}(id=${student.id}, pn=${page.current})}" class="btn btn-danger" type="button">删除</a>
                                        <a  class=" btn btn-info" type="button">edit</a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>学生姓名</th>
                                    <th>学生邮箱</th>
                                    <th class="hidden-phone">学生年龄</th>
                                    <th class="hidden-phone">操作</th>
                                </tr>
                                </tfoot>
                            </table>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="dataTables_info" id="dynamic-table_info">
                                        当前第 [[${page.current}]] 页，总共 [[${page.pages}]] 页，共 [[${page.total}]] 条记录</div>
                                </div>
                                <div class="span6">
                                    <div class="dataTables_paginate paging_bootstrap pagination">
                                        <ul>
                                            <li th:class="${page.current == 1?'prev disabled':'prev'}">
                                                <a th:href="@{/dynamic_table(pn=${page.current-1})}">← Previous</a>
                                            </li>
                                            <li th:class="${num == page.current?'active':''}"  th:each="num:${#numbers.sequence(1,page.pages)}">
                                                <a th:href="@{/dynamic_table(pn=${num})}">[[${num}]]</a>
                                            </li>
                                            <li class="next"><a th:href="@{/dynamic_table(pn=${page.current+1})}">Next → </a></li>
                                            <!--<li th:class="${page.current == page.pages?'next disabled':'next'}">
                                                <a th:href="@{/dynamic_table(pn=${page.current+1})}">Next → </a>
                                            </li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2014 &copy; AdminEx by ThemeBucket
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>


<div th:replace="common :: commonscript"></div>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<!--<script src="js/dynamic_table_init.js"></script>-->
<!--script for editable table-->
<script src="js/editable-table.js"></script>
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>
</body>
</html>
